/* Stretch the banner for side to side */
.editorsChoiceContainer {
    padding: 0 0 0 0 !important;
    margin: 0 0 6 0 !important;
    border-radius: 0px; !important;
}

/* Width of the description field */
.editorsChoiceContainer p,
.editorsChoiceContainer span {
    max-width: 30ch;
}
