/* Stretch the banner for side to side */
.editorsChoiceContainer {
    padding: 0 0 0 0 !important;
    margin: 0 0 6 0 !important;
    border-radius: 0px; !important;
}

/* Width of the description field */
.editorsChoiceContainer p,
.editorsChoiceContainer span {
    max-width: 30ch;
}

/* Move the buttons and text in more so that they can be lined up with the items below */
.editorsChoiceScrollButtonsContainer,
.editorsChoicePlayPauseContainer {
    right: 50px;
}

.editorsChoiceItemLogo,
.editorsChoiceItemOverview{
    margin-left: 20px !important;
    margin-right: auto !important;
    align-self: flex-start;
}

.editorsChoiceItemButton {
    left: 50px;
}
